In [1]:
import pandas as pd
import random
random.seed(10)
rating_labels = ["ONE_STAR", "TWO_STARS", "THREE_STARS", "FOUR_STARS", "FIVE_STARS"]

In [2]:
ids      = ['mov-' + str(i) for i in range(1,11)]
titles   = ["Rush Hour 1", "Rush Hour 2", "Rush Hour 3", "The Invisible Guest", "In Time", "Now You See ME", \
            "The Equalizer", "The Bone Collector", "The Lincolyn Lawyer", "Shutter Isaland"
           ]
actors   = ["Jackie Chan, Chris Tucker", "Jackie Chan, Chris Tucker", "Jackie Chan, Chris Tucker", \
            "Mario Casas, Ana Wagener", "Justin Timberlake, Olivia Wilde", "Jesse Eisenberg, Mark Ruffalo", \
            "Denzel Washington, Melissa Leo", "Denzel Washington, Angelina Jolie",\
            "Matthew McConaughey, Ryan Phillippe", "Leonardo DiCaprio, Mark Ruffalo"
           ]
availables = [random.choice([True, False]) for _ in range(10)]
ratings = [random.choice(rating_labels) for _ in range(10)]
movies_table = pd.DataFrame({"id": ids, "title": titles, "actors": actors, "available": availables, \
                             "rating": ratings
                            })

In [3]:
movies_table

,id,title,actors,available,rating
0,mov-1,Rush Hour 1,"Jackie Chan, Chris Tucker",True,FIVE_STARS
1,mov-2,Rush Hour 2,"Jackie Chan, Chris Tucker",False,FOUR_STARS
2,mov-3,Rush Hour 3,"Jackie Chan, Chris Tucker",False,THREE_STARS
3,mov-4,The Invisible Guest,"Mario Casas, Ana Wagener",True,ONE_STAR
4,mov-5,In Time,"Justin Timberlake, Olivia Wilde",True,TWO_STARS
5,mov-6,Now You See ME,"Jesse Eisenberg, Mark Ruffalo",False,THREE_STARS
6,mov-7,The Equalizer,"Denzel Washington, Melissa Leo",False,ONE_STAR
7,mov-8,The Bone Collector,"Denzel Washington, Angelina Jolie",False,FOUR_STARS
8,mov-9,The Lincolyn Lawyer,"Matthew McConaughey, Ryan Phillippe",True,TWO_STARS
9,mov-10,Shutter Isaland,"Leonardo DiCaprio, Mark Ruffalo",True,FIVE_STARS

In [4]:
# movies_table.to_csv("movies.csv")

In [5]:
df_movies = pd.read_csv("movies.csv", usecols=range(1,6))
df_movies

,id,title,actors,available,rating
0,mov-1,Rush Hour 1,"Jackie Chan, Chris Tucker",False,THREE_STARS
1,mov-2,Rush Hour 2,"Jackie Chan, Chris Tucker",False,FIVE_STARS
2,mov-3,Rush Hour 3,"Jackie Chan, Chris Tucker",True,FOUR_STARS
3,mov-4,The Invisible Guest,"Mario Casas, Ana Wagener",True,FOUR_STARS
4,mov-5,In Time,"Justin Timberlake, Olivia Wilde",True,FOUR_STARS
5,mov-6,Now You See ME,"Jesse Eisenberg, Mark Ruffalo",True,ONE_STAR
6,mov-7,The Equalizer,"Denzel Washington, Melissa Leo",True,FIVE_STARS
7,mov-8,The Bone Collector,"Denzel Washington, Angelina Jolie",False,THREE_STARS
8,mov-9,The Lincolyn Lawyer,"Matthew McConaughey, Ryan Phillippe",False,FIVE_STARS
9,mov-10,Shutter Isaland,"Leonardo DiCaprio, Mark Ruffalo",True,TWO_STARS

In [14]:
actors   = ["Jackie Chan", "Chris Tucker", "Mario Casas", "Ana Wagener", "Justin Timberlake", "Olivia Wilde",\
            "Jesse Eisenberg", "Mark Ruffalo", \
            "Denzel Washington", "Melissa Leo", "Angelina Jolie",\
            "Matthew McConaughey", "Ryan Phillippe", "Leonardo DiCaprio"
           ]
names = list(set(actors))
ids = ["actor-" + str(index) for index in range(1,len(names)+1)]
actors_table = pd.DataFrame({"id": ids, "names": names})

In [15]:
actors_table

          id                names
0    actor-1    Justin Timberlake
1    actor-2  Matthew McConaughey
2    actor-3          Mario Casas
3    actor-4       Angelina Jolie
4    actor-5         Chris Tucker
5    actor-6    Denzel Washington
6    actor-7          Jackie Chan
7    actor-8    Leonardo DiCaprio
8    actor-9      Jesse Eisenberg
9   actor-10         Mark Ruffalo
10  actor-11         Olivia Wilde
11  actor-12          Melissa Leo
12  actor-13          Ana Wagener
13  actor-14       Ryan Phillippe

In [16]:
actors_table.to_csv("actors.csv")